body {
    padding: 0;
    margin: 0;
    font-family: poppins;
}
nav {
    position: fixed;
    width: 100%;
    margin: 25px auto;
    display: flex;
    justify-content: center;

}
nav a {
    text-decoration: none;
    font: 20px;
    color:#262626;
    text-transform: uppercase;
    font-weight: 300;
    font-family: poppins;
    margin-right: 25px;

}
nav a logo {
    font-weight: 600;
    font-size: 25px;

}
.banner-area h2 {
    font-size: 65px;
    margin: 0;
    color: #262626;
}
.banner-area p {
    color: #262626;
    width: 35%;
    text-align: center;
    animation: animate 5s;
}
.banner-area {
    width: 100%;
    height: 104vh;
    background: url("/1634746307553-01.jpeg");
    -webkit-background-size:cover ;
    background-size:cover;
    background-position: center center ; 
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
   
  
}
h2 {
    animation: animate 2s 1;
}
.btn {
    text-decoration: none;
    padding: 10px 50px;
    color: #262626;
    background-color: #f7bc25;
    transition: 0.6s ease;
    animation: animate 8s 1;
}
.btn:hover {
    background-color: #262626;
    color: #fff;
 }

 @keyframes animate {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
    
}     


